{% extends "base.html" %}

{% block title %}About Us - Care Continuum{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-success mb-4">About Us</h1>
    <p style="text-align: justify;">Welcome to Care Continuum, your trusted source for personalized healthcare solutions. We leverage advanced AI technology to provide accurate health predictions based on your symptoms. Our mission is to empower individuals with the knowledge and tools they need to take control of their health.
        <br><b><h6 style="text-align: center;">Why Choose Care Continuum?</h6></b><br>
        <b>Advanced AI Technology</b><br>
        Our app uses cutting-edge AI algorithms to analyze your symptoms and provide precise health predictions. This technology ensures that you receive the most accurate information tailored to your unique health profile.
        <br>
        <b>Easy-to-Use Interface</b><br>
        Navigating your health journey should be simple and stress-free. Our user-friendly interface makes it easy to input your symptoms, access your health data, and understand your predictions. Whether you're tech-savvy or a beginner, Care Continuum is designed for everyone.
        <br>
        <b>Comprehensive Health Tracking</b><br>
        Know the details and recommendations based on the symptoms. Our app allows you to see recommendations and make informed decisions about your health and wellness.
        <br>
        <b>Reliable and Secure</b><br>
        Your health data is sensitive and personal. We prioritize your privacy and security, ensuring that all your information is securely stored and only accessible to you. Trust Care Continuum to keep your data safe while providing you with reliable health insights.
        <br>
        <b>24/7 Access to Health Information</b><br>
        Health concerns can arise at any time. With Care Continuum, you have access to vital health information 24/7. Our AI-powered predictions and recommendations are available whenever you need them, giving you peace of mind around the clock.
    </p>
</div>
{% endblock content %}
